@import url('https://fonts.googleapis.com/css?family=Barlow:200,400,600,800|Playfair+Display:400,700,900&display=swap');


body {
  margin: 0;
  font-family: 'Barlow', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF7F0;
}
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif !important;
  font-weight: bold !important;
}
h2 {
  font-size: 2.5rem !important;
  letter-spacing: 0.3px;
}
h3 {
  font-size: 1.85rem !important;
}
h6 {
  font-weight: lighter !important;
  font-family: 'Barlow', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.uk-overlay-primary {
  background: rgba(0, 0, 0, 0.3) !important;
}
.uk-text-lead {
  font-weight: lighter;
}
.uk-navbar-container {
  color: #f8f8f8 !important;
  background-color: #222222 !important;
}
.uk-button-primary {
  background-color: #222222 !important;
}
.uk-link, a {
  color: #71BDD9 !important;
}
.uk-navbar-nav > li > a {
  text-transform: none !important;
  color: #F8F8F8 !important;
  opacity: 0.6;
}
.uk-button-default {
  border-radius: 10px !important;
}

.uk-navbar-nav > li > a:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.uk-logo {
  font-family: 'Playfair Display', serif !important;
  font-weight: bolder !important;
  font-size: 2rem !important;
  color: #F8F8F8 !important;
}
.uk-border-rounded {
  border-radius: 10px !important;
}

.hero-title {
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 700;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  max-width: 80%;
  margin: 0 auto;
  color: #F8F8F8;
}
.hero-subtitle {
  color: #F8F8F8;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
.hero-button {
  background-color: transparent;
  color: #F8F8F8 !important;
  border: 1px solid #F8F8F8 !important;
  border-radius: 10px !important;
  text-shadow: 0px 0px 5px black;
}
.hero-button:hover {
  background-color: #F8F8F8;
  text-shadow: none;
  color: #525252 !important;
  transition: 0.2s ease-in;
}

.search-home{
  border: 3px solid red;
  margin-top: calc(0vh - 9rem) !important;
  background-color: #ffffff !important;
  border-radius: 10px;
  border: none !important;
  width: 50% !important;
  font-size: 1.25rem;
  padding: 20px 40px;
  padding-right: 40px ;
  margin-bottom: 1.5rem !important;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.xl-padding-large {
  padding-left: 2em !important;
}
.xr-padding-large {
  padding-right: 2em !important;
}

.rate-stars {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.rate-stars img {
  width: 16px;
  margin-right: 5px;
}
.footer {
  background-color:#222222 !important;
  color: rgba(255,255,255,0.4) !important;
  font-weight: lighter;
  padding: 9px auto !important;
  font-size: 0.8em;
}
.footer a {
  font-weight: 400;
  text-decoration: underline;
  color: rgba(255,255,255,0.8) !important;
}
.footer a:hover {
  color: rgba(255,255,255,1) !important;
  transition: 0.2 ease-in-out;
}
.auth-bg {
  background-image: url(https://images.pexels.com/photos/714258/pexels-photo-714258.jpeg?auto=compress) !important;
}
.auth-input {
  background-color: #f5f2ea !important;
  border: none !important;
}
.bg-color-bone {
  background-color: #FAF7F0 !important;
}
